
<div class="container mt-3 mb-3">
    <form [formGroup]="addCar" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Brand</label>
            <input type="text" class="form-control" formControlName="brand"> 
        </div>
        <div class="mb-3">
            <label class="form-label">Type</label>
            <input type="text" class="form-control" formControlName="type">
        </div>
        <div class="mb-3">
            <label class="form-label">Picture URL</label>
            <input type="text" class="form-control" formControlName="pic">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<div class="container mb-4">
    <div class="row">
        <div class="col12 col-sm-6 col-md-4 " *ngFor="let val of cars">
            <div class="card mt-4  text-secondary text-center small shadow border-0" >
                <img src="{{val.pic}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{val.brand}}</h5>
                <p class="card-text">Model: {{val.type}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
